<apex:component >
    <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped">
      <thead>
        <tr class="slds-text-title_caps">
          <th scope="col">
            <div class="slds-truncate" title="Tenancy">Tenancy</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Size">Size</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Available">Available</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Contingent">Contingent</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Low">Low</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="High">High</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Avg. Rent">Avg. Rent</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Sublet Available">Sublet Available</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Low">Low</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="High">High</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Avg. Rent">Avg. Rent</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Gross/Net">Gross/Net</div>
          </th>
        </tr>
      </thead>
    </table>
</apex:component>