<apex:page standardController="Account" 
	extensions="AccountActivity" showHeader="true" sidebar="false" title="Account Console"
	action="{!if($User.Use_Console__c == True,
    	null,
    	urlFor($Action.Account.View, account.id,
    	null, true))}"
	applyBodyTag="true" applyHTMLTag="true">
<style>
.panelWrapper .mainTitle {
    background-color: #064D85 !important;
    color:white !important;
    padding: 3px 0 3px 3px !important;
}
</style>

<style>
	.<font color="#339966"><strong>container</strong></font>{
        overflow:auto;
	    height:10px;
	    }
</style>

    <apex:form >         
      <apex:outputPanel styleclass="panelWrapper">
	     <apex:pageBlock title="{!Account.Name}">
	          <apex:pageBlockButtons location="top" >
	   			<apex:outputPanel id="myAcctButtons">
	   	    		<apex:commandButton action="{!Save}" title="Save" value="Save"/>
	   	    		<apex:commandButton action="{!AcctLVM}" title="LVM" value="LVM" reRender="myPanel" />  
	        		<apex:commandButton action="{!createAcctTask}" title="A Log a Call" value="Log a Call" reRender="myPanel" oncomplete="openSubtab()"/>
	        		<apex:commandButton action="{!Edit}" title="Edit" value="Edit" />
	   	    	</apex:outputPanel>
	   	      </apex:pageBlockButtons>
	     
	     	<!-- <apex:pageBlockSection columns="3" >
		        <apex:pageBlockSectionItem >
		           <apex:outputLabel value="Owner" for="AcctOwner"/>
		       	   <apex:inputField value="{!Account.OwnerId}" id="AcctOwner" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		           <apex:outputLabel value="Type" for="AcctType"/>
		           <apex:inputField value="{!Account.Type}" id="AcctType" />
		        </apex:pageBlockSectionItem>
		        <apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Billing Address" for="AcctAddr"/>
		       		<apex:outputLabel value="{!BillingAddress}" id="AcctAddr" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Industry" for="AcctIndustry"/>
		       		<apex:inputField value="{!Account.Industry}" id="AcctIndustry" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Status" for="AcctStatus"/>
		       		<apex:inputField value="{!Account.Account_Type__c}" id="AcctStatus" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Phone" for="AcctPhone"/>
		       		<apex:inputField value="{!Account.Phone}" id="AcctPhone" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Web Site" for="AcctWeb"/>
		       		<apex:outputField value="{!Account.Website}" id="AcctWeb" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Alternate Phone" for="AcctAltPhone"/>
		       		<apex:inputField value="{!Account.Alternate_Phone__c}" id="AcctAltPhone" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Rating" for="AcctRating"/>
		       		<apex:inputField value="{!Account.Rating}" id="AcctRating" />
		       	</apex:pageBlockSectionItem>
		       	<apex:pageBlockSectionItem >
		       		<apex:outputLabel value="Contract_Renewal_Date" for="AcctRenewal"/>
		       		<apex:inputField value="{!Account.Contract_Renewal_Date__c}" id="AcctRenewal" />
		       	</apex:pageBlockSectionItem>
	       	</apex:pageBlockSection>
	     </apex:pageBlock>
	  </apex:outputPanel> 
	  <apex:outputPanel styleclass="font color">
      <apex:pageBlock title="Account History (Total List Size: {!total_size})" >-->

	  	<apex:pageBlockTable value="{!Account}" var="actCntc" align="center" >
		    <apex:column headervalue="Owner" >
				<apex:outputField value="{!Account.OwnerId}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Type" >
				<apex:outputField value="{!Account.type}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Industry" >
				<apex:OutputField value="{!Account.industry}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>
		    </apex:column>
		    <apex:column headervalue="Status" >
				<apex:outputField value="{!Account.Account_Type__c}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>					
		    </apex:column>
		    <apex:column headervalue="Phone" >
				<apex:outputField value="{!Account.Phone}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>
		    </apex:column>
		    <apex:column headervalue="Alternate Phone" >
				<apex:outputField value="{!Account.Alternate_Phone__c}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>
		    </apex:column>
		    <apex:column headervalue="Website" >
				<apex:outputField value="{!Account.website}"/>
		    </apex:column>
		    <apex:column headervalue="Rating" >
				<apex:outputField value="{!Account.rating}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>
		    </apex:column>
		    <apex:column headervalue="Contract Renewal" >
				<apex:outputField value="{!Account.Contract_Renewal_Date__c}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:Outputfield>
		    </apex:column>
		</apex:pageBlockTable>
	</apex:pageBlock>
  </apex:outputPanel>
     
  <apex:outputPanel styleclass="font color"> 
     <!-- <apex:pageBlock title="Account History (Total List Size: {!total_size})" > -->
     <apex:pageBlock >
     <apex:pageBlockButtons location="bottom" >
	   <apex:outputPanel id="myButtons">
	   	    <!-- <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="myPanel,myButtons"/>
	        <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="myPanel,myButtons"/>       
	        <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="myPanel,myButtons"/>
	        <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="myPanel,myButtons"/> -->
	        <apex:commandButton action="{!AcctLVM}" title="LVM" value="LVM" reRender="myPanel" />  
	        <!-- <apex:commandButton action="{!createAcctTask}" title="A Log a Call" value="Log a Call" reRender="myPanel" oncomplete="openSubtab()"/>-->
	        <apex:commandButton action="{!createAcctTask}" title="A Log a Call" value="Log a Call" reRender="myPanel"/>

	   </apex:outputPanel>
	 </apex:pageBlockButtons>
 	   <apex:pageBlockSection collapsible="false" columns="2">
 <apex:outputpanel style="overflow:scroll;height:280px;" layout="block">
 	   <apex:pageBlockSectionItem >
	   <apex:outputPanel id="myPanel">
	   <apex:pageMessages id="theMessages" />
	   		<apex:pageBlockTable value="{!HistWithContact}" var="ah" align="center">
			   	<apex:column >
			   		<apex:actionSupport event="onclick" rerender="myPanel" action="{!editAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			   			<apex:outputLink value="/{!ah.id}">View</apex:outputLink>
			   		</apex:actionSupport>
			   </apex:column>
				<apex:column headervalue="Subject" width="200">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			    		{!ah.Subject}
		    		</apex:actionSupport>
	        	</apex:column>
	        	<apex:column headervalue="Contact" width="180">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			    		{!ah.Name}
		    		</apex:actionSupport>
	        	</apex:column>
	        	<apex:column headervalue="Phone" width="180">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			    		{!ah.Phone}
		    		</apex:actionSupport>
	        	</apex:column>
	        	<apex:column headervalue="Email" width="180">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			    		{!ah.Email}
		    		</apex:actionSupport>
	        	</apex:column>
	        	<apex:column headervalue="Activity Date">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!ah.id}"/>
			    		   <apex:outputText value="{0,date,MM/dd/yyyy}">
                           	<apex:param value="{!ah.ActivityDate}" />
                           </apex:outputText>
			    		
		    		</apex:actionSupport>
		    	</apex:column>		
		    	<!-- <apex:facet name="header">Showing Page # {!pageNumber} of {!totalPages}</apex:facet> -->
		    	<apex:facet name="header">Account History (Total List Size: {!total_size})</apex:facet>
	   		</apex:pageBlockTable>
	   
	   </apex:outputPanel>
	   </apex:pageBlockSectionItem>
</apex:outputpanel>
	   
	   <apex:pageBlockSectionItem >
<apex:outputpanel style="overflow:scroll;height:280px;" layout="block">
	   		<apex:outputPanel id="acctSelHist">
			   		<apex:dataTable value="{!AcctSelHist}" var="actsethist" align="center">
					   <apex:column headervalue="Comments" width="700">
					   		<apex:dataTable value="{!actsethist.Activityhistories}" var="ash" align="center">
								<apex:column >
					        		<apex:inputField value="{!ash.Description}" />
					        	</apex:column>
					   		</apex:dataTable>
					   </apex:column>
					   <!--  <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>-->
					 </apex:dataTable>
	   		</apex:outputPanel>
</apex:outputpanel>
	   </apex:pageBlockSectionItem>
	   </apex:pageBlockSection>
   	 </apex:pageBlock>
   	 
     	 <apex:outputPanel styleclass="panelWrapper">
     	 <div style="overflow: scroll; height: 330px;">  
	     <apex:pageBlock title="Contacts">
	          <apex:pageBlockButtons location="top" >
	   			<apex:outputPanel id="myCntctButtons">
	   	    		<apex:commandButton action="{!Save}" title="Save" value="Save"/>
	   	    		<apex:commandButton action="{!NewCntc}" title="Add Contact" value="Add Contact"/>
	   	    	</apex:outputPanel>
	   	      </apex:pageBlockButtons>

	  	<apex:pageBlockTable value="{!Children}" var="actCntc2" align="center" >
  			 <apex:column >
		   			<apex:outputLink value="{!actCntc2.id}">View</apex:outputLink>
		    </apex:column>
		    <apex:column headervalue="First Name" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.FirstName}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Last Name" >
		    	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.LastName}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Title" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.Title}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Phone" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.Phone}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Extension" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.Workphone_Extension__c}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Mobile Phone" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.MobilePhone}">
					<apex:inlineEditSupport event="ondblClick" />
				</apex:outputField>
		    </apex:column>
		    <apex:column headervalue="Email" >
	        	<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
					<apex:param name="showHist" value="{!actCntc2.id}"/>
				</apex:actionSupport>
				<apex:outputField value="{!actCntc2.Email}" />
		    </apex:column>
		</apex:pageBlockTable>
	</apex:pageBlock>
	</div>
  </apex:outputPanel>
  </apex:outputPanel>
  
   	 <!--<apex:outputPanel styleclass="panelWrapper">
	   	 <apex:pageBlock title="Contacts (Total List Size: {!cntc_total_size})" >
	        <apex:pageBlockButtons location="bottom" >
			   <apex:outputPanel id="myCntcButtons">			   
			        <apex:commandButton action="{!CntcBeginning}" title="Beginning" value="<<" disabled="{!CntcdisablePrevious}" reRender="myCntcPanel,myCntcButtons"/>
			        <apex:commandButton action="{!CntcPrevious}" title="Previous" value="<" disabled="{!CntcdisablePrevious}" reRender="myCntcPanel,myCntcButtons"/>       
			        <apex:commandButton action="{!CntcNext}" title="Next" value=">" disabled="{!CntcdisableNext}" reRender="myCntcPanel,myCntcButtons"/>
			        <apex:commandButton action="{!CntcEnd}" title="End" value=">>" disabled="{!CntcdisableNext}" reRender="myCntcPanel,myCntcButtons"/>       			   
			   </apex:outputPanel>
			 </apex:pageBlockButtons>
		   <apex:pageBlockSection id="contactSect" collapsible="false" columns="1">
			   <apex:outputPanel id="myCntcPanel">
			   <apex:pageMessages id="theCntcMessages" />
			   <apex:pageBlockTable value="{!AcctContacts}" var="actCntc" align="center" >
				   <apex:column >
				   		<apex:actionSupport event="onclick" rerender="myCntcPanel" action="{!SaveContact}">
				    		<apex:param name="cntcToSaveId" value="{!actCntc.id}"/>
				    		<apex:param name="cntcToSaveMobile" value="!CntcMobile.Value" />
				   			<apex:commandLink value="Save" action="{!SaveContact}" rerender="myCntcPanel"/>
				   		</apex:actionSupport>
				   </apex:column>
				   <apex:column headervalue="First Name" width="150">
	        		    <apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    <apex:inputField value="{!actCntc.FirstName}"/>
					    </apex:actionSupport>
					</apex:column>
	        		<apex:column headervalue="Last Name" width="150">    
	        			<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    {!actCntc.LastName}
					    </apex:actionSupport>
					</apex:column>
	        		<apex:column headervalue="Title" width="150">    
	        			<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    {!actCntc.Title}
					    </apex:actionSupport>
					</apex:column>
					<apex:column headervalue="Phone" width="150">    
	        			<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    {!actCntc.Phone}
					    </apex:actionSupport>
					</apex:column>
					<apex:column headervalue="Mobile Phone" width="150">    
	        			<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    <apex:inputField id="CntcMobile" value="{!actCntc.MobilePhone}" />
					    </apex:actionSupport>
					</apex:column>
					<apex:column headervalue="Email" width="450">    
	        			<apex:actionSupport event="onclick" rerender="myCntcHistPanel" action="{!populateContactHist}">
						    <apex:param name="showHist" value="{!actCntc.id}"/>
						    {!actCntc.Email}
					    </apex:actionSupport>
					</apex:column> 
			   <apex:facet name="header">Showing Page # {!CntcpageNumber} of {!CntctotalPages}</apex:facet>
			   </apex:pageBlockTable>
			   </apex:outputPanel>
		   </apex:pageBlockSection>
	   	 </apex:pageBlock>
		</apex:outputPanel> -->
   	 	
   	 	<apex:outputPanel styleclass="font color">
	   	   <apex:pageBlock >
	       <apex:pageBlockButtons location="bottom" >
			   <apex:outputPanel id="myCntcHistButtons">			   
			        <!-- <apex:commandButton action="{!CntchistBeginning}" title="Beginning" value="<<" disabled="{!CntchistdisablePrevious}" reRender="myCntcHistPanel,myCntcGistButtons"/>
			        <apex:commandButton action="{!CntchistPrevious}" title="Previous" value="<" disabled="{!CntchistdisablePrevious}" reRender="myCntcHistPanel,myCntcHistButtons"/>       
			        <apex:commandButton action="{!CntchistNext}" title="Next" value=">" disabled="{!CntchistdisableNext}" reRender="myCntcHistPanel,myCntcHistButtons"/>
			        <apex:commandButton action="{!CntchistEnd}" title="End" value=">>" disabled="{!CntchistdisableNext}" reRender="myCntcHistPanel,myCntcHistButtons"/> -->
			        <apex:commandButton action="{!CntchistLVM}" title="LVM" value="LVM" reRender="myCntcHistPanel,myPanel" /> 
			        <apex:commandButton action="{!createCntctTask}" title="C Log a Call" value="Log a Call" reRender="myCntcHistPanel,myPanel" />    			   
			   </apex:outputPanel>
			 </apex:pageBlockButtons>
	
		 	   <apex:pageBlockSection collapsible="false" columns="2">
		 	   <apex:pageBlockSectionItem >
<apex:outputpanel style="overflow:scroll;height:280px;" layout="block">
				   <apex:outputPanel id="myCntcHistPanel">
				   <apex:pageMessages id="theMessages" />
	
				  <apex:dataTable value="{!CntcHist}" var="cntcthist" align="left">
				    <apex:column >
				   		<apex:pageBlockTable value="{!cntcthist.Activityhistories}" var="ch" align="center">
						   <apex:column >
						   		<apex:actionSupport event="onclick" rerender="myPanel, myCntcHistSelPanel" action="{!editContactHist}">
						    		<apex:param name="showCurCntHist" value="{!ch.id}"/>
						   			<apex:outputLink value="{!ch.id}">View</apex:outputLink>
						   		</apex:actionSupport>
						   </apex:column>
							<apex:column headervalue="Subject" width="400">
				        		<apex:actionSupport event="onclick" rerender="myCntcHistSelPanel" action="{!ShowCurContactHist}">
						    		<apex:param name="showCurCntcHist" value="{!ch.id}"/>
						    		{!ch.Subject}
					    		</apex:actionSupport>
				        	</apex:column>
				        	<apex:column headervalue="Activity Date" >
				        		<apex:actionSupport event="onclick" rerender="myCntcHistSelPanel" action="{!ShowCurContactHist}">
						    		<apex:param name="showCurCntcHist" value="{!ch.id}"/>
						    			<apex:outputText value="{0,date,MM/dd/yyyy}">
			                           		<apex:param value="{!ch.ActivityDate}" />
			                           	</apex:outputText>
					    		</apex:actionSupport>
				        	</apex:column>		
				   		</apex:pageBlockTable>
				    </apex:column>
				    <apex:facet name="header">"Contact History (Total List Size: {!cntchist_total_size})"</apex:facet>
				    </apex:dataTable>
				   </apex:outputPanel>
</apex:outputpanel>
			   </apex:pageBlockSectionItem>
			   
			   <apex:pageBlockSectionItem >
<apex:outputpanel style="overflow:scroll;height:280px;" layout="block">
				   <apex:outputPanel id="myCntcHistSelPanel">
				   		<apex:pageBlockTable value="{!CntctSelHist}" var="sethist" align="center">
						   <apex:column >
						   		<apex:pageBlockTable value="{!sethist.Activityhistories}" var="sh" align="center">
									<apex:column headervalue="Comments" width="700">
					        			<apex:inputField value="{!sh.Description}" />
						        	</apex:column>
						   		</apex:pageBlockTable>
						   </apex:column>
						   <!-- <apex:facet name="header">Showing Page # {!pageNumber} of {!totalPages}</apex:facet> -->
						 </apex:pageBlockTable>
				   </apex:outputPanel>
</apex:outputpanel>
			   </apex:pageBlockSectionItem>
			   </apex:pageBlockSection>
	   	 </apex:pageBlock>
   	 </apex:outputPanel>

   	 <apex:outputPanel styleclass="panelWrapper">
  	   	 <apex:pageBlock >
	        <!--<apex:pageBlockButtons location="bottom" >
			        <apex:outputPanel id="myOppButtons">			   
			        <apex:commandButton action="{!OppBeginning}" title="Beginning" value="<<" disabled="{!OppdisablePrevious}" reRender="myOppPanel,myOppButtons"/>
			        <apex:commandButton action="{!OppPrevious}" title="Previous" value="<" disabled="{!OppdisablePrevious}" reRender="myOppPanel,myOppButtons"/>       
			        <apex:commandButton action="{!OppNext}" title="Next" value=">" disabled="{!OppdisableNext}" reRender="myOppPanel,myOppButtons"/>
			        <apex:commandButton action="{!OppEnd}" title="End" value=">>" disabled="{!OppdisableNext}" reRender="myOppPanel,myOppButtons"/>       			   
			   </apex:outputPanel>
			 </apex:pageBlockButtons> -->
		   <apex:pageBlockSection collapsible="false" columns="1">
			   <apex:outputPanel id="myOppPanel">
			   <apex:pageMessages id="theOppMessages" />
			   <apex:pageBlockTable value="{!AcctOpps}" var="actOpp" align="center" >
	        		<apex:column headervalue="Name" width="250">
						    {!actOpp.Name}
					</apex:column>
			   <apex:facet name="header">"Opportunities (Total List Size: {!opp_total_size})"</apex:facet>
			   </apex:pageBlockTable>
			   </apex:outputPanel>
		   </apex:pageBlockSection>
	   	 </apex:pageBlock>
		</apex:outputPanel>
		
<!--  <apex:outputPanel styleclass="panelWrapper">
	   	 <apex:pageBlock title="HistContact" >
		   <apex:pageBlockSection collapsible="false" columns="1">
			   <apex:outputPanel id="myNewPanel">
			   <apex:pageMessages id="theNewMessages" />
			   <apex:pageBlockTable value="{!HistWithContact}" var="tryHist" align="center" >
			   		<apex:column headervalue="Subject" width="250">
						    {!tryHist.Subject}
					</apex:column>
	        		<apex:column headervalue="Contact" width="250">
						    {!tryHist.Name}
					</apex:column>
					<apex:column headervalue="Phone" width="250">
						    {!tryHist.Phone}
					</apex:column>
					<apex:column headervalue="Email" width="250">
						    {!tryHist.Email}
					</apex:column>
	        	<apex:column headervalue="Activity Date">
	        		<apex:actionSupport event="onclick" rerender="acctSelHist" action="{!ShowCurAccountHist}">
			    		<apex:param name="showCurActHist" value="{!tryHist.id}"/>
			    		   <apex:outputText value="{0,date,MM/dd/yyyy}">
                           	<apex:param value="{!tryHist.ActivityDate}" />
                           </apex:outputText>
			    		
		    		</apex:actionSupport>
		    	</apex:column>
			   </apex:pageBlockTable>
			   </apex:outputPanel>
		   </apex:pageBlockSection>
	   	 </apex:pageBlock>
	</apex:outputPanel> -->
		
    </apex:form>
   </apex:page>