<apex:page standardController="Contact">
		<apex:form >
<div style="text-align:center; display: none;">
    <input type="submit" id='btnRefreshCtr' style="display: none;"/>    
    <input style="display: inline !important;" class="btn" type="button" value="LVM"        
           onclick="callBtn('LVM');" /> 
    <input style="display: inline !important;" class="btn" type="button" value="Attempted"  
           onclick="callBtn('Attempted');" /> 
    <input style="display: inline !important;" class="btn" type="button" value="Log a Demo" 
           onclick="callBtn('LogADemo');" /> 
</div>
			<c:Shift_ActivityPreview_Component ObjectType="Contact"  ObjectId="{!Contact.id}" />
		</apex:form>
    <script language="javascript">
      function callBtn(itm) {
          //https://c.cs4.visual.force.com
          var redirURL = 'https://' + window.document.location.host + '/apex/taskDetail';
          var url = '';          
          
          switch(itm) {
            case 'LVM':
                  url = '/00T/e?title=Call&who_id={!Contact.Id}&what_id={!Contact.Account.Id}&00NU0000004wMgS=Phone%20Call&00NU0000004wMgT=Voicemail&followup=1&tsk5=Left%20Voicemail&tsk5_fu=Call&retURL=' + redirURL;
                  break;
            case 'Attempted':
                  url = '/00T/e?title=Call&who_id={!Contact.Id}&what_id={!Contact.Account.Id}&00NU0000004wMgS=Phone%20Call&00NU0000004wMgT=Attempted&followup=1&tsk5=Left%20Voicemail&tsk5_fu=Call&retURL=' + redirURL;
                  break;                  
            case 'LogADemo':
                  url = '/00T/e?title=Call&who_id={!Contact.Id}&what_id={!Contact.Account.Id}&00NU0000004wMgS=Phone%20Call&00NU0000004wMgT=Demo&followup=1&tsk5=Log Demo&tsk5_fu=Call&retURL=' + redirURL;
                  break;                  
          }
          
          window.open(url);
      }    
    
      function refresh() {
          var x = document.getElementById('btnRefreshCtr');
          x.click();
      }
    </script>    
</apex:page>