<apex:page standardController="Account">
		<apex:form >
<div style="text-align:center; display: none;">
    <input type="submit" id='btnRefreshCtr' style="display: none;"/>
    <input style="display: inline !important;" class="btn" type="button" value="Log a Call" 
           onclick="callBtn('LogACall');" />  
            <input style="display: inline !important;" class="btn" type="button" value="LVM" 
                   onclick="callBtn('LVM');" />  
            <input style="display: inline !important;" class="btn" type="button" value="Attempted" 
                   onclick="callBtn('Attempted');" />  
</div>            
            
			<c:Shift_ActivityPreview_Component ObjectType="Account"  ObjectId="{!Account.id}" />
		</apex:form>
    <script language="javascript">
      function callBtn(itm) {
          //https://c.cs4.visual.force.com
          var redirURL = 'https://' + window.document.location.host + '/apex/taskDetail';
          var url = '';          
          
          switch(itm) {
            case 'LogACall':
                  url = '/00T/e?title=Call&what_id={!Account.Id}&followup=1&tsk5=Call&retURL=' + redirURL;
                  break;
            case 'LVM':
                  url = '/00T/e?title=Call&what_id={!Account.Id}&00NU0000004wMgS=Phone%20Call&00NU0000004wMgT=Voicemail&followup=1&tsk5=Left%20Voicemail&retURL=' + redirURL;
                  break;
            case 'Attempted':
                  url = '/00T/e?title=Call&what_id={!Account.Id}&00NU0000004wMgS=Phone%20Call&00NU0000004wMgT=Attempted&followup=1&tsk5=Left%20Voicemail&retURL=' + redirURL;
                  break;                  
          }
          
          window.open(url);
      }
    
      function refresh() {
          var x = document.getElementById('btnRefreshCtr');
          x.click();
      }
    </script>
    
</apex:page>