<!--
    @Name: Shift_NEFEmailPreview
    @Description: Page to preview the NEF email, and send it from the opportunity
    @Dependancies: 
    @Version: 1.0.0 
    
    === VERSION HISTORY === 
    | Version Number | Author      | Description
    | 1.0.0          | Ryan Morden |  Initial 
-->  

<apex:page standardController="Opportunity" sidebar="false" extensions="Shift_NEFEmailPreview_Ext">
	<apex:form >
		<apex:pageMessages escape="false" />

		<apex:outputText style="font-weight:800;font-size:110%;" value="{!$Label.Shift_NEFValidation_Msg}" rendered="{!Opportunity.isWon==false}" />

		<apex:outputPanel rendered="{!Opportunity.isWon}">
			<c:Shift_NEFEmailTemplate_Component OpportunityId="{!Opportunity.Id}" />
		</apex:outputPanel>

		<br/>
		<br/>

		<apex:commandButton value="Send Email" action="{!triggerEmailAlert}" rendered="{!Opportunity.isWon}" />
		<apex:commandButton value="Cancel" action="{!theCancel}" />

	</apex:form>
</apex:page>