<apex:page standardcontroller="Task" >
   <apex:detail inlineEdit="true" />
    
   <script language="javascript">
    //window.opener.location.reload(true);
    window.opener.refresh();
      window.close();
   </script>    
</apex:page>